* {
    box-sizing: border-box;
}

body {
    /* padding: 3em; */
    background-color: hsl(185, 75%, 39%);
    font-size: 18px;
    overflow: hidden;
}

main {
    width: 18em;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 0.5em;
    margin-top: 3em;

}

.profile-pic {
    /* display: flex;
    justify-content: center; */
    position: relative;

    top: -2em;
    margin: 0;

}

.background {
    max-width: 100%;
}

.blue-image {
    max-width: 100%;
    overflow: hidden;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.profile-pic img {
    border: 5px solid white;
    border-radius: 5em;

}

.details {
    max-width: 10em;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* gap: 1em; */
}

.location {
    margin-top: 0;
    margin-bottom: 1em;
}

.text {
    /* margin-bottom: 1em; */
    position: relative;
    top: -3em;
}

.socials-details {
    display: flex;
    justify-content: space-around;
    /* gap: 1em; */
    margin: 0;
    padding: 0;
}

.numbers {
    margin: 0;
}

.description {
    margin: 0;
    color: hsl(229, 23%, 23%);
    font-weight: 400;
    font-size: 16px;
}

hr {
    color: hsl(0, 0%, 59%);
}
.ball-background{
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* max-height: 50%; */
    /* width: 10em; */
}
.ball-background .top{
    position: absolute;
    top: -40em;
    left: -10em;

}
.ball-background .bottom{
    position: absolute;
    left: 40em;
    top: 10em;
}